{% extends "base.html" %}
{% block title %}Home page{% endblock title %}
{% block contents %}
{% if patients %}
<ul>
    {% for patient in patients %}
    full name: <a href='{% url "pressure:result" pk=patient.pk%}'><b> {{ patient.first_name }} {{ patient.last_name}} </b></a></br>
    age:<b> {{patient.age }}</b></br>
    gender:<b> {{ patient.get_gender_display }}</b></br>
    ID: <b>{{ patient.pk }}  </b>
</li>
    {% endfor %}
</ul>  
    {% else %}
    <p>List Empty</p>
    {% endif %}
{% endblock contents %}